.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  padding: 0.5em;
}

.logo {
  color: var(--main-color);
  font-size: 1.2rem;
  white-space: nowrap;
}

.search {
  width: 100%;
  max-width: 48em;
  border: 1px solid var(--outline);
  border-radius: 0.5em;
  padding: 0.5em 1em;
  display: none;
}

.reload {
  color: var(--main-color-2);
  white-space: nowrap;
}

@media screen and (max-width: 480px) {
  .logo {
    font-size: 1rem;
  }

  .reload {
    font-size: 0.85rem;
  }
}