:root {
  --main-bg: #0A0A0A;
  --main-color: #FFFFFF;
  --main-color-2: #A7A7AA; 
  --main-accent: #2CB7BC;
  --card-bg: #27272A;
  --card-bg-sm: #18181B;
  --icon-color: #707079;
  --index-bg: #18181B;
  --index-color: #FF6D5F;
  --outline: #393A40;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--main-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--main-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
